@charset"UTF-8";

html{
 font-size:62.5%;
}
*,*::before,*::after{
 box-sizing:border-box;
}
body{
 background:#F8E4E7;
 background-size:cover;
 color:#fa7d5d;
 text-align:center;
 font-size: 1.4rem;
 font-family:Raleway,"Hiragino kaku Gothic ProN",Meiryo,sans-serif;
}
/*ヘッダー*/
.header{
 padding:170px 30px 80px;
}
.title{
 margin: 20px 0 30px;
 font-size:7.6rem;
}
.description{
 margin-bottom: 50px;
 color: #fa7d5d;
 font-size: 1.6rem;
}
.button{
 display: inline-block;
 width: 180px;
 padding: 20px;
 border: solid 1px;
 border-radius: 4px;
 background-color: #fa724f;
 color: #fff;
 text-decoration: none;
 letter-spacing: 1px;
 font-size: 1.2rem;
}
.button:hover{
 opacity: 0.5;
}
/*ABOUT*/
.about{
 padding: 80px 30px;
 background-color: #fff;
}
.heading{
 position:relative;
 display: inline-block;
 margin: 30px 0 80px;
 padding-bottom: 15px;
 letter-spacing: 2px;
 font-size: 4rem;
 color:#fa7d5d
}
.heading::before,
.heading::after{
 content:'';
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 border-bottom:1px solid #fa7d5d;
}
.heading::before{
    bottom: 5px;
}
.js-scroll-fade{
 position: relative;
 opacity: 0;
 transform: translate(0, 50px);
 transition: all 2s cubic-bezier(0.155, 0.91, 0.695, 0.95);
}
.js-scroll-fade.is-animation{
 opacity: 1;
 transform: translate(0, 0);
}
.ab-text{
 margin: 15px;
 line-height: 2.5;
 color:#333;
}
/*WORKS*/
.works{
 background-color: #F8E4E7;
 padding: 80px 0;
 color:#333;
}
.wrapper{
 margin: 30px 0;
 display:table;
 width:100%;
 margin-top: 60px;
 table-layout: fixed;
}
.work-box{
  position: relative;
  display:table-cell;
}

.img-box{
 display:block;
 width:100%;
}
.img{
 display:block;
 width:100%;
 height:250px;
 object-fit: cover;
}
.img:hover{
 filter:contrast(30%);
 filter:brightness(50%);
}
.work-textbox{
  margin: 15px 20px;
}
.work-text{
  text-align: left;
  font-size: 1.2rem;
  line-height: 2;
}

/*SKILLS*/
.skills{
 padding: 80px 30px;
 background-color:#fff;
 color: #333;
}
.skill-wrapper{
 display:table;
 width: 80%;
 margin: 50px auto 0;
 table-layout:fixed;
}
.skill-box{
 display:table-cell;
}
.icon{
 width: 90px;
 height: 90px;
 margin-bottom: 30px;
}
.sk-title{
 margin: 0 20px 20px;
 font-size: 2.3rem;
}
.sk-text{
 margin: 0 20px;
 line-height: 2;
 color: #aaa;
}
/*CONTACT*/
.contact{
 background-color: #F8E4E7;
 padding:80px 0 150px;
 color: #333;
}
.footer{
 background-color: #fa7d5d;
 color:#fff;
 padding: 12px 0;
 font-size: 1.3rem;
}

/*スマートフォン対応*/

@media(max-width:768px){
 .subtitle::before,
 .subtitle::after{
   display:block;
   width: 80%;
   margin: 10px auto;
 }
 .subtitle{
   font-size:1.7rem;
 }
 .title{
   margin-top:35px;
   font-size: 5rem;
 }
 .header{
   padding-top: 60px;
 }
 .button{
   margin-bottom:20px;
 }
 .button::hover{
   opacity:1;
 }
 .heading{
   font-size:2.5rem;
 }
 body{
   font-size:1.3rem;
 }
 .ab-text{
   line-height:1.8;
 }
 .wrapper,
 .img-box{
   display:block;
 }
 .skill-wrapper,
 .skill-box{
   display:block;
 }
 .icon{
   width:100px;
   height:100px;
   margin-bottom:10px;
 }
 .skill-box{
   margin:0;
 }
 .sk-title{
   margin:0;
 }
 .sk-text{
   margin-bottom:50px;
 }
}
